* {
  box-sizing: border-box;
}

body {
  background: #fafafa url(../images/grain.png);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(0,0,0, 0.82);
}

html /deep/ {
  h1, h2, h3 {
    font-weight: 100;
  }
}

.hero {
  display: block;
  margin: 1em auto 0 auto;
  width: 300px; // @2x
  max-width: 90%;
  opacity: 0.67;
}

.page {
  margin: 1em auto 0 auto;
  width: 100%;
  padding: 1em;
  max-width: 60em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
